{% extends "base.html" %}
<!---->
{% block content %}
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        {% comment %} ทำวนโดยใช้ list {% endcomment %}
        <tbody>
          {% for i in list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>{% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}